{% extends 'home.html' %}
{% block title %}Todos Imóveis{% endblock title %}

{% block content %}
<div class='container row mx-auto'>
  <div class='col-md'>
    <hr>
    <div class='card card-body bg-info text-white my-5 w-75 mx-auto'> 
      {% if request.user.is_staff %}
        <h4 class='font-weight-bold text-white'>Todos Imóveis</h4>
        <table class='table table-sm text-white'> 
          <tr>
            <th>Descrição</th>
            <th>Endereço</th>
            <th>Grupo</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th></th>
            <th></th>
            <th></th>
          </tr> 
          {% for i in imoveis %}
            <tr>
              <td>{{i.descricao}}</td>
              <td>{{i.endereco}}</td>
              <td>{{i.grupo}}</td>
              <td>{{i.tipo}}</td>
              <td>{{i.valor}}</td>
              <td><a class='text-white' href="{% url 'detalhar-imovel' i.id %}">Detalhes</a></td>
              <td><a class='text-white' href="{% url 'alterar-imovel' i.id %}">Alterar</a></td>
              <td><a class='text-white' href="{% url 'deletar-imovel' i.id %}">Deletar</a></td>
            </tr>
          {% empty %}
            <h3>Lista vazia</h3>
          {% endfor %}
        </table>
        
      {% else %}
        <h4 class='font-weight-bold mx-auto'>Imóveis à Venda</h4>    
        <table class='table table-sm text-white'> 
          <tr>
            <th>Descrição</th>
            <th>Endereço</th>
            <th>Grupo</th>
            <th>Tipo</th> 
            <th>Valor</th>
            <th></th>
          </tr> 
          {% for i in imoveis %}
            <tr>
              <td>{{i.descricao}}</td>
              <td>{{i.endereco}}</td>
              <td>{{i.grupo}}</td>
              <td>{{i.tipo}}</td>
              <td>{{i.valor}}</td>
              <td><a class='text-white' href="{% url 'detalhar-imovel' i.id %}">Detalhes</a></td>
            </tr>
          {% empty %}
          <h3>Lista vazia</h3>
          {% endfor %}
        </table>
      {% endif %}

      </div>

      {% if request.user.is_staff %}
      <div class='row justify-content-center'>
        <a class='btn btn-info' href="{% url 'registrar-imovel' %}">Novo Anúncio</a>
      </div> 
      {% endif %}

  
  
  </div>    
</div>  



{% endblock  %}